.player {
    position: relative;
}

.winner {
    background-color: hsl(120, 93%, 90%);
}

.loser {
    background-color: hsl(340, 57%, 90%);
}

.tie {
    background-color: hsl(0, 0%, 90%);
}

.score {
    text-align: center;
    position: absolute;
    left: 40%;
    top: 10vh;
    font-size: 3em;
}