<div class="content">
    <header>
        <h1>{{ title | translate }}</h1>

        <app-select-locale />
    </header>

    <p>{{'A rock-paper-scissors game against a computer opponent.' | translate}}</p>

    <a [routerLink]="'/play'" class="start-game">{{'Play!' | translate}}</a>

    <div class="alternatives">
        <h2>{{ 'Alternative frontend frameworks' | translate }}</h2>

        <p>{{ 'Why alternative frameworks.'| translate }}</p>

        <ol>
            <li><a href="https://react.rock-paper-scissors.dame-software.com/">React.js</a></li>
            <li><a href="https://vue.rock-paper-scissors.dame-software.com/">Vue.js</a></li>
        </ol>
    </div>

    <div class="sources">
        <h2>{{'References' | translate}}</h2>

        <ol>
            <li><a href="https://github.com/elsehow/aaronson-oracle">{{
                    'Concept' | translate}}</a>
                ({{'Thanks to' | translate}}
                <a href="https://www.linkedin.com/in/harald-meyer-auf-m-hofe-00934a116/">Harald</a>
                {{'for the suggestion.' | translate}})
            </li>
            <li><a href="https://openclipart.org/detail/325645/hands-3">{{
                    'Source of the hand images.' | translate }}</a>
            </li>
            <li><a href="https://github.com/Daniel-Methfessel/rock-paper-scissors/tree/master/angular">{{
                    'GitHub repository for the source code of this page.' | translate}}</a></li>
            <li><a [href]="'http://www.DaMe-Software.' + ('com' | translate)">{{
                    'My website.' | translate }}</a></li>
        </ol>
    </div>
</div>
