.content {
    padding: 0.5em;
    max-width: 30em;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 30em;

    @media (orientation:portrait) {
        font-size: smaller;
    }
}